body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
  }
  .sent {
    width: 50%;
    text-align: center;
  }